.fr-btn {
  border-radius: 0.75rem !important;
}
.fr-btn.fr-btn--sm {
  border-radius: 0.5rem !important;
}

.fr-btn.fr-btn--close:hover,
.fr-btn.fr-btn--menu:hover,
.fr-btn.fr-btn--search:hover,
.fr-btn.fr-translate__btn:hover {
  background-color: var(--dark-background-primary1) !important;
  color: var(--other-background-base) !important;
}

.fr-search-bar .fr-btn {
  border-radius: 0 !important;
}

.fr-nav__btn:hover,
.fr-nav__link:hover {
  background-color: var(--dark-background-primary1) !important;
  color: var(--other-background-base) !important;
}