@use '../core/namespace' as *;
@use '../core/typography' as *;

// === Form elements reset ===
input,
select,
textarea {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust:100%;
  border:0;
  border-radius:0;
  font-family:Luciole, arial, sans-serif;
  text-rendering:optimizeLegibility;
}

input[type=search]{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

input[type=checkbox],
input[type=radio],
input[type=range] {
  -webkit-appearance:auto;
  -moz-appearance:auto;
  appearance:auto;
}

// === Label ===
@include ns("label") {
  @extend .b2-regular;
  display: block;
  padding-bottom: var(--spacing-xxs);

  &::before {
    display: none;
  }
}

// === Hint text ===
@include ns("hint-text") {
  @extend .caption-regular;
  display: block;

  +.#{$prefix}hint-text {
    padding-top: var(--spacing-xxs);
  }
}