@use '../core/namespace' as *;
@use '../settings/breakpoints' as bp;
@use '../core/spacing' as sp;
@use "sass:map";

$columns: 12;

// === Containers ===
// Default container
// Ex: .av-container, .av-container-fluid
@include ns("container") {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: sp.get(sm);
  padding-right: sp.get(sm);

  &-fluid {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
}

// Container paddings per breakpoint
$container-paddings: (
  sm: sm,
  md: sm,
  lg: md,
  xl: md
);

// Breakpoint-specific containers
// Ex: .av-container--md / .av-container--lg
@each $bp-name, $bp-value in bp.$breakpoints {
  @media (min-width: #{$bp-value}) {
    @include ns("container--#{$bp-name}") {
      width: 100%;
      max-width: #{$bp-value};
      margin-left: auto;
      margin-right: auto;
      padding-left: sp.get(map.get($container-paddings, $bp-name));
      padding-right: sp.get(map.get($container-paddings, $bp-name));
    }
  }
}

// === Rows ===
$row-justifications: (
  left: flex-start,
  right: flex-end,
  center: center,
  between: space-between
);

$row-alignments: (
  top: flex-start,
  middle: center,
  bottom: flex-end
);

// === Mixin row layout ===
@mixin row-layout {
  display: flex;
  flex-direction: row;
}

// === Base row ===
// Ex: .av-row / .av-row-wrap / .av-row-nowrap
@include ns("row") {
  @include row-layout;

  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }
}

// === Responsive layout for rows ===
// Ex: .av-row--md
@each $bp-name, $bp-value in bp.$breakpoints {
  @media (min-width: #{$bp-value}) {
    @include ns("row--#{$bp-name}") {
      @include row-layout;
    }
  }
}

// === Columns ===
$col-alignments: (
  top: flex-start,
  middle: center,
  bottom: flex-end
);

// === Mixin column layout ===
@mixin col-layout {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

// === Base column ===
// Ex: .av-col
@include ns("col") {
  @include col-layout;
}

// === Responsive layout for columns ===
// Ex: .av-col--md
@each $bp-name, $bp-value in bp.$breakpoints {
  @media (min-width: #{$bp-value}) {
    @include ns("col--#{$bp-name}") {
      @include col-layout;
    }
  }
}