@use '../core/namespace' as *;

// === Ellipsis ===
@include ns("ellipsis") {
  display: inline !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ellipsis-container {
  display: flex;
  flex: 1;
  min-width: 0;

  > .ellipsis {
    flex: 1;
    min-width: 0;
  }
}

// === Text decoration ===
.text-underline {
  text-decoration: underline;
}