@use '../core/namespace' as *;

// === Usual text color classes ===
@include ns("text-error") {
  color: var(--dark-background-error);
}

@include ns("text-primary1") {
  color: var(--dark-background-primary1);
}

@include ns("text-text1") {
  color: var(--text1);
}

@include ns("text-text2") {
  color: var(--text2);
}

@include ns("text-title") {
  color: var(--title);
}

// === Usual background color classes ===
@include ns("background-base") {
  background-color: var(--other-background-base);
}

@include ns("background-card") {
  background-color: var(--card);
}

@include ns("background-card2") {
  background-color: var(--card2);
}

@include ns("background-primary1") {
  background-color: var(--dark-background-primary1);
}
// === Usual border color classes ===
@include ns("border-stroke") {
  border-color: var(--stroke);
}