@use '../core/namespace' as *;

// === Usual text color classes ===
@include ns("text-error") {
  color: var(--dark-background-error);
}

@include ns("text-primary1") {
  color: var(--dark-background-primary1);
}

@include ns("text-text1") {
  color: var(--text1);
}

@include ns("text-text2") {
  color: var(--text2);
}

@include ns("text-title") {
  color: var(--title);
}