@use '../core/spacing' as sp;
@use '../core/namespace' as *;
@use '../mixins/responsive-utility' as *;
@use '../settings/breakpoints' as bp;
@use "sass:meta";

// === Properties and directions ===
$properties: (
  m: margin,
  p: padding,
);

$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
  x: (left, right),
  y: (top, bottom),
);

// === Global classes ===
// Ex : .av-m-sm / .av-p-md / .av-m-none--lg / .av-p-md--xl
@each $type, $property-value in $properties {
  @each $size, $value in sp.$spacing {
    @include responsive-utility("#{$type}-#{$size}", (
      #{$property-value}: var(--spacing-#{$size}) !important
    ));
  }
}

// === Directional classes ===
// Ex : .av-mt-sm / .av-px-md / .av-mb-none--lg / .av-pt-md--xl
@each $type, $property-value in $properties {
  @each $direction-key, $direction-value in $directions {
    @each $size, $value in sp.$spacing {
      @if meta.type-of($direction-value) == 'list' {
        @each $d in $direction-value {
          @include responsive-utility("#{$type}#{$direction-key}-#{$size}", (
            #{$property-value}-#{$d}: var(--spacing-#{$size}) !important
          ));
        }
      } @else {
        @include responsive-utility("#{$type}#{$direction-key}-#{$size}", (
          #{$property-value}-#{$direction-value}: var(--spacing-#{$size}) !important
        ));
      }
    }
  }
}