:root {
  --dimension-8xl: 25rem;     /* 400px */
  --dimension-7xl: 15rem;     /* 240px */
  --dimension-6xl: 7.5rem;    /* 120px */
  --dimension-5xl: 5rem;      /* 80px */
  --dimension-4xl: 4rem;      /* 64px */
  --dimension-2xl: 3rem;      /* 48px */
  --dimension-xl: 2.5rem;     /* 40px */
  --dimension-lg: 2rem;       /* 32px */
  --dimension-md: 1.5rem;     /* 24px */
  --dimension-sm: 1rem;       /* 16px */
  --dimension-xxxs: 0.125rem; /* 2px */
}