@use './typography';

.fr-breadcrumb__link {
  @extend .b2-regular;
  color: var(--text2);
}

li:not(:last-child) .fr-breadcrumb__link {
  color: var(--dark-background-primary1);
}

.fr-breadcrumb__link:not([href]) {
  @extend .b2-regular;
  color: var(--text2) !important;
  background-image: none !important;
  cursor: default;
}