// === Core ===
@use './core/palette' as *;
@use './core/typography' as *;
@use './core/focus' as *;
@use './core/hover' as *;
@use './core/cursors' as *;
@use './core/spacing' as *;
@use './core/radius' as *;
@use './core/dimensions' as *;
@use './core/accessibility' as *;

// === Settings ===
@use './settings/breakpoints' as *;

// === Components ===
@use './components/grid' as *;
@use './components/buttons' as *;
@use './components/collapse' as *;
@use './components/form' as *;
@use './components/links' as *;
@use './components/texts' as *;
@use './components/selects' as *;
@use './components/navigation' as *;
@use './components/menu' as *;
@use './components/footer' as *;

// === Utilities ===
@use './utilities/helpers' as *;
@use './utilities/spacing' as *;

// === Global ===
:root {
  --default-global-background-color: var(--other-background-base);
  --global-background-color: var(--default-global-background-color);
}

// === Base styles ===
html,
body,
#app {
  height: 100%;
  background-color: var(--global-background-color);
  font-family: var(--font-family-primary);
  margin: var(--spacing-none);
}

// === Reset headers ===
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}

// === Typography base ===
*,
::before,
::after {
  font-family: var(--font-family-primary);
}