// === Core ===
@use './core/palette' as *;
@use './core/typography' as *;
@use './core/spacing' as *;
@use './core/radius' as *;
@use './core/dimensions' as *;

// === Settings ===
@use './settings/breakpoints' as *;

// === Components ===
@use './components/buttons' as *;
@use './components/texts' as *;

// === Utilities ===
@use './utilities/helpers' as *;

// === Vendor ===
@use './vendor/dsfr' as *;

// === Overrides ===
@use './overrides/dsfr' as *;

// === Global ===
:root {
  --default-global-background-color: var(--other-background-base);
  --global-background-color: var(--default-global-background-color);
}

// === Base styles ===
html,
body,
#app {
  height: 100%;
  background-color: var(--global-background-color);
}

// === Reset headers ===
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}