.rejt-name {
  color: var(--dark-background-primary1) !important;
}

.sbdocs-a:hover, .docblock-argstable-body a:hover {
  text-decoration: underline !important;
  background-color: transparent;
}

.sbdocs-a[href] {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a[href] {
  background-image: none;
}

.sidebar-item svg {
  color: var(--dark-background-primary1) !important;
}

.sbdocs-title {
  display: none;
}

code, tbody, tbody *, th, th *, .sb-bar {
  color: var(--text1) !important;
  background: var(--light-background-neutral) !important;
  border: none !important;
}

body, .sbdocs-wrapper, .storybook-docs, .docs-story {
  background-color: var(--card) !important;
}

button[class^="css-"],
.docblock-code-toggle {
  background: var(--dark-background-primary1) !important;
  color: var(--other-background-base) !important;
  border: 1px solid var(--dark-background-primary1) !important;
}

.docblock-argstable-head button[class^="css-"] > svg,
.docblock-argstable-head button[class^="css-"] > svg > path {
  fill: var(--other-background-base) !important;
  background: transparent !important;
  color: var(--other-background-base) !important;
}

.docblock-argstable-head button[class^="css-"]:hover > svg,
.docblock-argstable-head button[class^="css-"]:hover > svg > path {
  fill: var(--dark-background-primary1) !important;
  color: var(--dark-background-primary1) !important;
}

button[class^="css-"]:hover,
.docblock-code-toggle:hover {
  background: var(--other-background-base) !important;
  color: var(--dark-background-primary1) !important;
}

.story-wrapper {
  background-color: var(--card);
}

.dark p, .dark [class^="css-"]:not(code), .dark, .dark * {
  color: #FAFAFACC !important;
  background-color: #14171A !important;
}

.light p, .light [class^="css-"]:not(code), .light, .light * {
  color: #14171A !important;
  background-color: #FAFAFACC !important;
}

input[type="checkbox"] {
  appearance: auto !important;
  width: var(--dimension-md) !important;
  height: var(--dimension-md) !important;
}

input[type="checkbox"] + span, input[type="checkbox"] + span + span {
  display: none !important;
}

.token.plain-text {
  color: white !important;
}

.n1, .n2, .n3, .n4, .n5, .n6 {
  color: var(--title) !important;
}