.rejt-name {
  color: var(--dark-background-primary1) !important;
}

.sbdocs-a:hover, .docblock-argstable-body a:hover {
  text-decoration: underline !important;
  background-color: transparent;
}

.sbdocs-a[href] {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a[href] {
  background-image: none;
}

.sidebar-item svg {
  color: var(--dark-background-primary1) !important;
}

.sbdocs-title {
  display: none;
}

code, .sb-bar {
  color: var(--text1) !important;
  background: var(--light-background-neutral) !important;
  border: none !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}

body, .sbdocs-wrapper, .storybook-docs, .docs-story {
  background-color: var(--card) !important;
}

button[class^="css-"],
.docblock-code-toggle {
  background: var(--dark-background-primary1) !important;
  color: var(--other-background-base) !important;
  border: 1px solid var(--dark-background-primary1) !important;
}

.docblock-argstable-head button[class^="css-"] > svg,
.docblock-argstable-head button[class^="css-"] > svg > path {
  fill: var(--other-background-base) !important;
  background: transparent !important;
  color: var(--other-background-base) !important;
}

.docblock-argstable-head button[class^="css-"]:hover > svg,
.docblock-argstable-head button[class^="css-"]:hover > svg > path {
  fill: var(--dark-background-primary1) !important;
  color: var(--dark-background-primary1) !important;
}

button[class^="css-"]:hover,
.docblock-code-toggle:hover {
  background: var(--other-background-base) !important;
  color: var(--dark-background-primary1) !important;
}

.story-wrapper {
  background-color: var(--card);
}

.dark p, .dark [class^="css-"]:not(code), .dark, .dark * {
  color: #FAFAFACC !important;
  background-color: #14171A !important;
}

.light p, .light [class^="css-"]:not(code), .light, .light * {
  color: #14171A !important;
  background-color: #FAFAFACC !important;
}

input[type="checkbox"] {
  appearance: auto !important;
  width: var(--dimension-md) !important;
  height: var(--dimension-md) !important;
}

input[type="checkbox"] + span, input[type="checkbox"] + span + span {
  display: none !important;
}

.token.plain-text {
  color: white !important;
}

.n1, .n2, .n3, .n4, .n5, .n6 {
  color: var(--title);
}

.sbdocs-content h1,
.sbdocs-content h1 > span {
  font-size: var(--font-size-n1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-n1);
  color: var(--title);
}

.sbdocs-content h2,
.sbdocs-content h2 > span {
  font-size: var(--font-size-n2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-n2);
  color: var(--title);
}

.sbdocs-content h3,
.sbdocs-content h3 > span {
  font-size: var(--font-size-n3);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-n3);
  color: var(--title);
}

.sbdocs-content h4,
.sbdocs-content h4 > span {
  font-size: var(--font-size-n4);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-n4);
  color: var(--title);
}

.sbdocs-content h5,
.sbdocs-content h5 > span {
  font-size: var(--font-size-n5);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-n5);
  color: var(--title);
}

.sbdocs-content h6,
.sbdocs-content h6 > span {
  font-size: var(--font-size-n6);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-n6);
  color: var(--title);
}

.sbdocs-content p {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-md);
  color: var(--text1);
}

*,
::before,
::after {
  font-family: var(--font-family-primary) !important;
}